img {
    border-radius: 10px;
    width: 320px;
  }
  
  .select-input {
    width: 108px; 
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
  
  .detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
  
  .detail-item {
    margin-left: 128px;
    margin-right: 128px;
    font-size: 1.3rem;
  }
  
  .back-link {
    margin-top: 1.8rem;
  }

  .detail-title{
    font-size: 2.5rem;
    font-weight: bold;
  }

  .detail-space{
    margin-top: 1.1rem;
    margin-bottom: 1.1rem;
  }